body {
    color: #FFF275;
    width: 60%;
    margin: auto;
    background-color: #564D65;
    font-family: Arial, Helvetica, sans-serif;
}
h1 {
    font-size : 300%;
    text-align: center;
}
header {
    background-color: #1A181B;
    padding-top: 20px;
    padding-bottom: 20px;
}
nav {
    text-align: center;
    background-color: #3E8989;
    padding-top: 20px;
    padding-bottom: 20px;
    text-transform: uppercase;
    text-decoration: none;
    
}
nav a {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 20px;
    margin-left: 20px;
}
section  {
    background-color: #3E8989;
}
footer {
    background-color: grey;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    clear: both;
    background-color: #1A181B;
}
#widgets {
    width: 100%;
    margin: auto;
    background-color: ghostwhite;
    
}
#widgets section  {
    text-align: center;
    width: 30%;
    float: left;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 10px;
    margin-left: 10px;
    
}