body {
  font-family: 'Cairo:wght@300', Arial, Helvetica, sans-serif;
}
#landing-image {
  font-family: 'Red+Hat+Mono', Arial, Helvetica, sans-serif;
  margin-top: 400px;
  margin-bottom: 500px;
  max-width: 90%;
}
#landing-buttons {
  max-width: 80%;
}
#landing-buttons a {
  color: #000000;
  font-size: 1.15em;
  text-decoration: none;
}
#landing-buttons a:hover {
  color: #6757ca;
  font-size: 1.2em;
}
.navbar-item {
  font-size: 200%;
  margin-right: 20px;
}
.widget {
  margin-top: 100px;
  margin-bottom: 100px;
}

/* Back to Top Button CSS */

.back-to-top {
  position: fixed;
  bottom: 2em;
  right: 0px;
  text-decoration: none;
  color: #000000;
  background-color: rgba(235, 235, 235, 0.80);
  font-size: 12px;
  padding: 1em;
  display: none;
}

.back-to-top:hover {    
  background-color: rgba(135, 135, 135, 0.50);
}

/* Media Queries */

@media only screen and (max-width: 600px) {
  #landing-image {
    margin-top: 100px;
    margin-bottom: 200px;
    max-width: 100%;
    text-align: center;
  }

  #landing-image h2 {
    font-size: 2.5em;
  }

  #landing-image h3 {
    font-size: 1.2em;
  }

  #landing-buttons a {
    border-bottom: 1px solid #3e3d3d;
  }

  #landing-buttons a {
    color: #000000;
    font-size: 1.5em;
    text-decoration: none;
  }
}